html, body {
  width: 100%;
  height: 100%;
}

#app {
  height: 100vh;
  overflow-y: scroll;
}

.ant-layout-header {
  height: 64px !important;
  background-color: white !important;
  position: fixed;
  width: 100%;
  z-index: 99;
  clear: both;
}